<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>PNLP - Routine Paludisme</title>
    <link rel="stylesheet" media="screen" type="text/css" href="{% url static 'pnlp.css' %}" title="Default" />
</head>
<body>
    <div id="page">

        <div id="header">
            <img src="{% url static 'pnlp.gif' %}" id="logo" />
            <h1 id="top"><a href="/">Information de routine sur le paludisme</a></h1>
        </div>
        <div id="menu">
            <ul><li><a href="{% url index %}">Soumissions</a></li>
            <li><a href="{% url add %}">Soumettre un formulaire</a></li></ul>
        </div>
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
        <div id="footer">
        {% if user.is_authenticated %}
        <p>Identifié en tant que <em><a href="{% url logout %}" title="Se déconnecter.">{{ user.get_full_name }}</a></em>.</p>
        {% endif %}
        </div>
    </div>  
</body>
</html>
